
.search-button {
  
  color: white;  
  background-color: #006a8a;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.search-button:hover {
  background-color: #006a8a;
}


  .searcher input[type="text"] {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;    
    flex: 1;
    padding: 5px;
  }
  .searcher {
    margin-right: 10px; 
    order: 1; 
    display: flex;
    align-items: center;
    background-color: #6f6f6f;
    padding: 5px;
    margin-left: 15px;     
    color: white;
    border-radius: 4px;
  }
  
  
 
  
